<a href="https://colab.research.google.com/github/Herinshani/DataScience/blob/main/workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Detecting and removing outliers using the following Methods. Print the values of outliers for each method

(i) Percentile Method (values between 1 percentile and 99 percentile)

import numpy as np
import pandas as pd
from scipy import stats
data=[73.84702,68.7819,74.11011,71.73098,69.8818,67.25302,68.78508,68.34852,67.01895,63.45649,671.19538,71.64081,64.76633,69.28307,69.24373,67.64562,72.41832,63.97433,69.64006,67.936,67.91505,69.43944,66.14913,375.20597,7.8932,68.14403,69.08963,72.80084,67.42124,68.49642,68.61811,74.03381,71.52822,69.18016,69.5772,70.40093,69.07617,67.19352,65.80732,34.30419,67.97434,72.18943,65.27035,66.09018,67.51032,70.10479,68.25184,72.17271,69.17986,72.87036,64.78258,70.18355,68.49145,67.33083,66.99094,66.49955,68.35306,70.77446,171.21592,70.01337,71.40318,69.55201,73.81853,66.99688,71.41847,65.2793,68.27419,272.76537,68.09938,68.89671,69.28951,370.52322]
df=pd.DataFrame(data)
df.head()

In [2]:
import numpy as np
import pandas as pd
from scipy import stats
data=[73.84702,68.7819,74.11011,71.73098,69.8818,67.25302,68.78508,68.34852,67.01895,63.45649,671.19538,71.64081,64.76633,69.28307,69.24373,67.64562,72.41832,63.97433,69.64006,67.936,67.91505,69.43944,66.14913,375.20597,7.8932,68.14403,69.08963,72.80084,67.42124,68.49642,68.61811,74.03381,71.52822,69.18016,69.5772,70.40093,69.07617,67.19352,65.80732,34.30419,67.97434,72.18943,65.27035,66.09018,67.51032,70.10479,68.25184,72.17271,69.17986,72.87036,64.78258,70.18355,68.49145,67.33083,66.99094,66.49955,68.35306,70.77446,171.21592,70.01337,71.40318,69.55201,73.81853,66.99688,71.41847,65.2793,68.27419,272.76537,68.09938,68.89671,69.28951,370.52322]
df=pd.DataFrame(data)
df.head()

          0
0  73.84702
1  68.78190
2  74.11011
3  71.73098
4  69.88180

max_thresold = df.quantile(0.99)
min_thresold = df.quantile(0.01)
df[(df<max_thresold) & (df>min_thresold)]

In [3]:
max_thresold = df.quantile(0.99)
min_thresold = df.quantile(0.01)
df[(df<max_thresold) & (df>min_thresold)]

            0
0    73.84702
1    68.78190
2    74.11011
3    71.73098
4    69.88180
..        ...
67  272.76537
68   68.09938
69   68.89671
70   69.28951
71  370.52322

[72 rows x 1 columns]

(ii) IQR

q1=df.quantile(0.01)
q3=df.quantile(0.99)
IQR=q3-q1
df2_new=df[((df>=q1-1.5*IQR)&(df<=q3+1.5*IQR))]
print(df2_new)

In [4]:
q1=df.quantile(0.01)
q3=df.quantile(0.99)
IQR=q3-q1
df2_new=df[((df>=q1-1.5*IQR)&(df<=q3+1.5*IQR))]
print(df2_new)

            0
0    73.84702
1    68.78190
2    74.11011
3    71.73098
4    69.88180
..        ...
67  272.76537
68   68.09938
69   68.89671
70   69.28951
71  370.52322

[72 rows x 1 columns]

(iii) Zscore

z=np.abs(stats.zscore(df))
df=df[(z<3)]
print(df)

In [5]:
z=np.abs(stats.zscore(df))
df=df[(z<3)]
print(df)

            0
0    73.84702
1    68.78190
2    74.11011
3    71.73098
4    69.88180
..        ...
67  272.76537
68   68.09938
69   68.89671
70   69.28951
71        NaN

[72 rows x 1 columns]